<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dasser.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.RecipeDetailActivity"
            android:launchMode="singleTop"
            android:label="@string/recipe_details"
            android:parentActivityName=".ui.MainActivity"
            tools:targetApi="jelly_bean" />

        <activity android:name=".ui.OneStepDetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.RecipeDetailActivity"
            tools:targetApi="jelly_bean" />

        <receiver android:name=".provider.RecipeOfTheDayWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_of_the_day_widget_info" />
        </receiver>
        <service android:name=".provider.RecipeOfTheDayWidget$GetWidgetData" />
    </application>

</manifest>